{
    "presets": [
        [
            "@babel/preset-env",
        ]
    ],
    "plugins": [
        //"transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-object-assign",
        "transform-es2015-typeof-symbol",
        "transform-es2015-template-literals",
        [ "import-to-require", { "modules": [ "foo" ] } ]
    ]
}